<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>
<div style="padding: 5px">
  <ul class="nav nav-pills">
    <li routerLinkActive="active">
        <a routerLink="home">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="about">About</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="items">ShoppingItem</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="productlist">ProductList</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="login">Login</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="register">Register</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="logout">LogOut</a>
    </li>
  </ul>

<router-outlet></router-outlet>
</div>
