<style>
    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: blue;
        color: white;
        text-align: center;
     }
    </style>
<br>
<div class="panel panel-primary" *ngFor="let prd of product">
  <div class="panel-heading">
    <h3 class="panel-title">{{prd.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-6">
      <div class="row vertical-align">
        <div class="col-xs-4">
          <img class="imageClass img-circle img-responsive" [src]="prd.photoPath" />
        </div>
        <div class="col-xs-8">

          <div class="row">
            <div class="col-xs-6">
              Product Name
            </div>
            <div class="col-xs-6">
              : {{prd.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Price
            </div>
            <div class="col-xs-6">
              : {{prd.price}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <button type="button" name="button" class="btn btn-success">Add to Cart</button>    
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="footer">
    <h3>Happy Angular Learning</h3>
  </div>